@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: local('SF-Pro-Display-Regular'), url("assets/SF-Pro-Display-Regular.otf") format('truetype');
  }
  body {
    font-family: 'SF-Pro-Display-Regular';
  }
